In [57]:
#########
# INPUT #
#########
topics_file = '/home/ec2-user/SageMaker/mariano/datasets/multiculturalism/top2vec/deep_learn_top2vec_topics_only_rel_topics.json'

##########
# OUTPUT #
##########
import os 
suggestions_db_file = '/home/ec2-user/SageMaker/mariano/datasets/multiculturalism/top2vec/suggestions_with_topics_only_rel_topics.csv'
if os.path.isfile(suggestions_db_file):
    print('[WARNING] output file exists, will be overwriten: "'+suggestions_db_file.split('/')[-1]+'"')

[WARNING] output file exists, will be overwriten: "suggestions_with_topics_only_rel_topics.csv"

# IMPORTS

In [58]:
import pandas as pd
import numpy as np
import json

import sys
sys.path.append('/home/ec2-user/SageMaker/mariano/repositories/tdmstudio-high-recall-information-retrieval-system/')
from utils import tdmstudio

# CODE

In [59]:
with open(topics_file, 'r') as openfile: 
    # Reading from json file
    json_object = json.load(openfile)
document_df=pd.DataFrame(json_object['document data'])
document_df['title'] = list(map(lambda id_: tdmstudio.get_title(tdmstudio.get_filename(str(id_))), document_df['id']))
print(document_df.head())

document_df.to_csv(suggestions_db_file)
# word_df=pd.DataFrame(json_object['word data'])
# print(word_df.head())

           id  new_score  top2vec  doc_dist  \
0  1151636504        1.0       10  0.169276
1  1151316407        1.0       10  0.138961
2  1366203438        1.0        8  0.163001
3  1126309571        1.0        9  0.438859
4  1125764078        1.0        4  0.312545

                                   title
0   Not just folklore--a tool for trade.
1             Display Ad 41 -- No Title.
2                   Sounds and the city.
3  Unfamiliar liberty delights Iranians.
4           Private-school debate grows.

In [45]:
# output_dict={'topic no': []}
# for word_no in range(50):
#     output_dict[f'word{word_no:02}']=[]
# for topic_no in set(document_df['top2vec']):
#     auxdf=word_df[word_df['topic']==topic_no]
#     print(auxdf.shape)
#     auxdf = auxdf.sort_values(by=['score'], ascending=False)
#     output_dict['topic no'].append(topic_no)
#     for ix,word in enumerate(auxdf['word']):
#         output_dict[f'word{ix:02}'].append(auxdf['word'].iloc[ix])
# #     auxdf.sort_va
# #     words=auxdf['word']
#     if topic_no==1:
#         break

(50, 3)
(50, 3)

In [47]:
pd.DataFrame(output_dict)

,topic no,word00,word01,word02,word03,word04,word05,word06,word07,word08,...,word40,word41,word42,word43,word44,word45,word46,word47,word48,word49
0,0,parents,children,my,stay,girls,husband,friends,home,school,...,married,moved,her,having,jobs,me,immigrated,went,men,find
1,1,film,filmmaker,films,movie,documentary,documentaries,egoyan,cinema,camera,...,doc,child,journalism,dad,son,friends,bly,ms,family,actress

In [ ]:
for topic in range(topics_df.shape[0]):
    row = topics_df.iloc[topic,:]
    print(row['size']==(len(row['relevants'].split(';'))+len(row['suggestions'].split(';'))))